*,
*::after,
*::before {

    box-sizing: border-box;

}

body {
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}

:root{
    --main-color: #343434;
    --secondary-color:#FFFFFF;
    --main-bg:#F7F7F7;
    --main-transition: .5s;
}

h1 , h2  , h3 , h4 , h5 , h6 , .navbar-brand{

    font-family: "Montserrat", sans-serif;
}

span , p , a{
    font-family: "Poppins", sans-serif;
}
.main-bg{
    background-color: var(--main-bg);
}


 /* navBar */

 
.navbar{
  
   background-color: white;
  
 
}

.navbar-nav .nav-link {
    position: relative;
    
    /* font: 0.875rem !important; */
  
}
.navbar-nav li a{
    
    
    font: 0.8125rem !important;
  
}
.navbar-collapse  a.active{
    color: var(--secondary-color);
}

/* .navbar-scrolled{
    background-color: rgb(255, 254, 254);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    
} */
   

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: var(--bs-navbar-nav-link-padding-x);
    transition: var(--main-transition) width;
}

 .navbar-nav .nav-link.active::before{
    width: calc(100% - (var(--bs-navbar-nav-link-padding-x) * 2));
}



/* Home */
.home{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) , url(../imgs/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
}

.home-socials{
    margin-top: 1.875rem;
}
.home h5{
    font-size: 3.125rem;
    font-weight: bold;
    color:var(--secondary-color);
    max-width: 100px;

}
.home h1{
    font-weight: 200;
    font-size:  clamp(1.875rem,0vh,3.75rem);
   
}
.home h1 span{
    
    font-weight: 400;
    color:var(--secondary-color);
    font-size:  clamp(2.875rem,0vh,3.875rem);

}
.home-socials a{

    color:var(--secondary-color);
    text-align: center;
    
}

.home-socials span{
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #000E18;
}


/* About */
.about{
    padding: 100px 0 !important;
}
.about .about-image{
    padding: 1.875rem 0 0 1.875rem !important ; 
   
    
}
.about .about-image::after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;

}


.content h3.text-capitalize{
    
    font-weight: 800;
}

.content span.des{
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 400;
}
.content p{
    font: 15px;
}

.progress{
    height: 1.5625rem;
    
}
.progress-bar{
    background-color: #1C1C1C !important;

}


.butt {
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    
    transition: all 0.5s;
}

.butt span{
    display: inline-block;
}

.content-btn a.first .butt{
    background-color: #1C1C1C;
    color: var(--secondary-color);
}
.content-btn a.first:hover .butt{
    background-color: var(--secondary-color);

    color: #1C1C1C;
}

.content-btn a.second .butt{
   
    background-color: var(--secondary-color);
    color: #1C1C1C;

}
.content-btn a.second:hover .butt{
    
    background-color: #1C1C1C;
    color: var(--secondary-color);
}


/* Service */
section .services{
    padding-bottom: 70px !important;
}
.section-header h3{
    position: relative;
    font-weight: 900;
    font-size: 40px;
    color: var(--main-color);
    display: inline-block;
    z-index: 5;
}


.section-header h3:after {
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
 
    left: 0;
    z-index: -1;
}


.services .card-body h6{
    font: 1.125rem;
    font-weight: 800;
}
.services .item .icon {
    font-size: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #f4f4f4;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.services .item:hover .icon{
    background-color: black;
    color: var(--secondary-color);
}
.services .item {
    padding: 50px 20px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 5px;
}
.card-body p{
    font-size: 14px ;
}

/* Portfolio / Works */

.portfolio .nav-link {
    background-color: white !important ;
    color: black !important;
    position: relative;
    font-weight: 700;
}


.portfolio .nav-link::before {
    content: " ";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: var(--bs-navbar-nav-link-padding-x);
    transition: var(--main-transition) width;
}
 .portfolio .nav-link.active::before
  {
    width: calc(100% - 32px);
    
    
}

.portfolio .image-overlay{
    background-color:white;
    position: absolute;
    inset: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
    margin-top: 500px;
    overflow: hidden;
    transition: .5s transform;



}
.portfolio .portfolio-image:hover .image-overlay{
    transform: translateY(0);
  
    margin: 10px;
   
}

.portfolio .portfolio-image h6 {
    font-size: 12px;
    font-weight: 700;
    position: relative;
    margin-bottom: 15px;
    transform: translateY(-15px);
    transition: all 0.5s;
}
.portfolio .portfolio-image:hover h6{

    transform: translateY(0);
}

.portfolio span{
    font-size: 0.875rem;
    width: 1.5625rem;
    height: 1.5625rem;
    
    padding: 2px;
    
    border-radius: 50%;
    background: #000E18;
}



/* Testimonials */

.content-testimonials .image{
    width: 6.25rem;
    text-align: center;
    margin: auto;
}


.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: var(--main-color) !important;
   
}

/* Clients */

.clients{
    padding-top: 6.25rem;
    padding-bottom: 4.375rem;
}

.clients .icon {
    font-size: 30px;
    margin-bottom: 15px;
}

.clients h3 {
    font-weight: 900;
    margin-bottom: 15px;
}
.clients p {
    font-weight: 600;
    margin-bottom: 30px;
}

/* Team  */


.team-info{
    background-color: #5B5B5B;
    color: var(--secondary-color);
}

.team-info h4{
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 1.7188rem;
}
.team-info h5{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.375rem;
}

.team-img .image-overlay{
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    inset: 0;
opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transform: rotateY(180deg) scale(0.5, 0.5);
    transition: .5s transform;
}

.team-card:hover .image-overlay{

    transform: translateY(0);
    opacity: 1;
    margin: 5px;

}
.team-card img{
    transition: all 0.4s ease 0s;
}
.team-card:hover img{
    transform: scale(1.1);
}

.team-card:hover .overlay-icons {
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
}

.overlay-icons a:hover span{
    background-color: var(--secondary-color);
    color: black;
    border: 1px solid;
   

}



/* Contact */
.contact{
    padding: 100px 0;
}
.contact-info  .icon i{
    font-size: 25px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #f4f4f4;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.contact-info:hover  .icon i{
    background: #1C1C1C;
    color: #f4f4f4;

}

.contact-info h6{
    font-weight: 700;
    margin-bottom: 10px;
}

.contact-info p{
    font-size: 15px;
    color: #748182;
}

.contact button.btn{
    background-color: #1C1C1C;
    color: var(--secondary-color);
    padding: 5px 40px;
    font:13px;
    font-weight: 400;

}

.contact button.btn:hover{
    background: transparent !important;
    color: #343434 !important;
    border: 1px solid;
}
.input-bg{
    background-color: #F4F4F4;
}


/* Footer */

footer{
    background-color: #1C1C1C;
    color: #748182;
    padding: 0.875rem;
   

}
footer .container p{
    font: 0.8125rem !important;
   

}