/* Extra small screens */
/* hint : smart watches */
@media all and (width < 575px) {
    /* code excute when sreen extra small */

    body {
        /* background-color: #f40f0f; */
    }

    .xs-100 {
        width: 100%;
    }

    .xs-70 {
        width: 70%;
    }

    .xs-50 {
        width: 50%;
    }

    .xs-25 {
        width: 25%;
    }

    .xs-16 {
        width: 16%;
    }

}



/* small screens */
/* hint : iphone 12 */
@media all and (576px<=width <768px) {
    /* code excute when sreen small */




    .sm-100 {
        width: 100%;


    }

    .sm-70 {
        width: 70%;
    }

    .sm-50 {
        width: 50%;
    }

    .sm-25 {
        width: 25%;
    }

    .sm-16 {
        width: 16%;
    }

}


/* med screens */
/* hint : iPad */
@media all and (768px<=width <992px) {

    /* code excute when sreen med */
    .md-100 {
        width: 100%;
    }

    .md-70 {
        width: 70%;
    }

    .md-50 {
        width: 50%;
    }

    .md-25 {
        width: 25%;
    }

    .md-16 {
        width: 16%;
    }


}

/* large screens */
/* hint : laptop 13 inch */
@media all and (992px<=width <1200px) {
    /* code excute when sreen lg */




    .lg-960 {
        width: 800px;

    }

    .lg-100 {
        width: 100%;
    }

    .lg-70 {
        width: 70%;
    }

    .lg-50 {
        width: 50%;
    }

    .lg-25 {
        width: 25%;
    }

    .lg-16 {
        width: 16%;
    }


}

/* extra-large screens */
/* hint : laptop 16 inch */
@media all and (1200px<=width <1400px) {
    /* code excute when sreen x-lg */

    .Xl-950 {
        width: 950px;

    }

    .xl-100 {
        width: 100%;
    }

    .xl-70 {
        width: 70%;
    }

    .xl-50 {
        width: 50%;
    }

    .xl-25 {
        width: 25%;
    }

    .xl-16 {
        width: 16%;
    }


}


/* extra-large screens */
/* hint : smart iv inch */
@media all and (width >=1400px) {

    /* code excute when sreen 2x-lg */
    .xxl-1320 {
        width: 1320px;

    }

    .xxl-100 {
        width: 100%;
    }

    .xxl-70 {
        width: 70%;
    }

    .xxl-50 {
        width: 50%;
    }

    .xxl-25 {
        width: 25%;
    }

    .xxl-16 {
        width: 16%;
    }

}